* {box-sizing: border-box}
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 200px;
  height: 100vh;
}

/* Style the buttons inside the tab */
.tab button{
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 100vh;
}





/* Style the tab */
.tab1,.tab2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab1 button, .tab2 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab1 button:hover, .tab2 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab1 button.active, .tab2 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab1content, .tab2content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/* Style tab links */
.tablink2 {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink2:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent2 {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #e8471e;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
#Today {background-color: #e8471e;}







table, tr, th, td{
  border: 1px;
  padding: 30px;
} 




.div-con1, .div-con2, .div-con3{
  border: 2px solid black;
  margin: 30px 40px;
  font-size: 75px;
  padding: 15px 40px;
height: 150px;
 width: 800px;

}

.div-con1{
    background-color: #12BD9C;
}
.div-con2{
    background-color: #BFCA1F;
}
.div-con3{
    background-color: #2DDD11;
}

#control a{
  text-decoration: none;
   color: white;
}
#search-dash{
  margin-top: 30px;
}
.container
{
	border-right:2px black;
	border-bottom:2px black;
	color:red;
}

.des::after
{
	content:"......Read more";
}
.h2{
	font-size:30px;
	color:blue;
}
.marpadd{
	padding-top:40px;
	padding-left:20px;
}
